@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Questrial');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    font-family: 'Questrial', sans-serif;
    text-color: #303952;
}

.material-icons {
    padding: 0.8rem;
}

.input-container {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
}

.sidebar {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4bcffa;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 2px 14px 2px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #303952;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 55px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.iconlabel {
    text-align: center;
}